.NavLink {
    text-decoration: none;
    color: #000; 
}

.NavLink:hover {
    color: rgb(255, 0, 0); 
    display: flex;
}

.Activee {
    font-weight: bold;
    color: rgb(157, 255, 0); 
}
ul{
    display: flex;
    flex-wrap: wrap;
}
li{
    display: flex;
    flex-wrap: wrap;
    margin: 1px 20px;
    font-size: larger;
    font-weight: bold;

}

body{
    background-color: #0d0d12;
    margin: 0%;
    color: white;
    
}
.navbarr{
    background-color: beige;
    height: 75px;
    text-align: center;
    display: flex; 
     justify-content: space-between;
}
.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.button:hover {
    background-color: #e1ecf9; 
    color: rgb(0, 0, 0);
    border: 2px solid black ;

}
ul li img{
    height: 50px;
    margin-top: 0px;
    border-radius: 50%;
    margin-bottom: 10px;
}

